* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  z-index: 2;
}

.header-menu-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header-logo {
  position: relative;
  z-index: 3;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.header-logo a {
    color: #fff;
}

.menu-list {
  display: flex;
  position: relative;
  z-index: 2;
}

.menu-list li {
  margin-left: 20px;
}

.menu-list a {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid darkgray;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 30px;
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
}

.content-despription div {
    padding-bottom: 20px;
}

.content-button input {
    padding: 10px 20px;
    outline: none;
    background-color: #fff;
    border: 1px solid darkgray;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.content-button input:hover {
    color: blueviolet;
    border: 1px solid blueviolet
}


img {
    width: 100%;
}

.category-tittle {
    width: 100%;
    border-bottom: 2px solid #e67e22;
}

.category-description {
    margin: 20px 0px 30px 0px;
}

h1 span {
    padding: 0px 20px;
    background-color: #e67e22;
    color: #fff;
}

.sidebar {
    position: sticky;
    top: 100px;
    height: 500px;
   
}

h1 .sidebar-subscribe {
    padding: 0px 20px;
    background-color: rgb(58, 52, 52);
    color: #fff;
}

.sidebar-tittle {
    border-bottom: 2px solid rgb(58, 52, 52);
}

.sidebar-form input {
    padding: 15px 0px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: none;
}

.sidebar-form input[type=email] {
    background-color: gainsboro;
    border: 1px solid gainsboro;
    text-align: center;
}

.sidebar-form input[type=submit] {
    background-color: gainsboro;
    border: 1px solid gainsboro;
    text-align: center;
    background-color: #e67e22;
    color: #fff;
}

.sidebar-form input[type=submit]:hover {
    background-color: darkorange;
    cursor: pointer;
}

.sidebar-form input[type=email]:focus {
    border: 2px solid darkgrey;
}

.sidebar-subscribe-container{
    display: grid;
    grid-row-gap: 10px;
}

form {
    display: grid;
    grid-row-gap: 10px;
    width: 250px; 
    border: 2px solid lightgray;
    padding: 20px;
    margin-bottom: 20px;
}

.content-button input {
    cursor: pointer;
}

.social-media {
    height: 50px;
}

.social-media img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

.content-tittle a {
    color: #000;
}

.content-tittle a:hover {
    color: blueviolet;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 50px;
    margin-bottom: 30px;
    position: relative;
    background-image: url(https://picsum.photos/id/821/1170/400?blur);
}

.section1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}

.section1-text span {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: darkorange;
}

.section1-text p {
    margin-top: 10px;
    color: #fff;
    position: relative;
}

.section1-text input {
    position: relative;
    margin-top: 10px;
    padding: 10px 30px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
}

.section1-text input:hover {
    background-color: darkorange;
    border: 1px solid #fff;
    cursor: pointer;
    
}

.section2 {
    margin-bottom: 30px;
}

.section2-container-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 30px 0px;
}

.section2-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
}

.section2-text:hover{
    text-decoration: underline;
}

.section2-last-news {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}


.footer {
	background-color: #000;
	height: 80px;
	display: flex;
	align-items: center;
}

.container-h3-footer {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	color: #fff;
}

.h3-description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 10px;
}


.h3-footer img {
    height: 20px;
    width: 20px;
	margin-left: 10px;
}


.header-burger {
  display: none;
}

@media (max-width: 992px) {
    .content-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        margin-bottom: 30px;
    }

    .section2-container-text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 50px;
        grid-gap: 0px;
      }
    
    body.lock {
        overflow: hidden;
    }
    .content {
        padding-top: 20px;
      }

  .header-menu-container {
    height: 50px;
  }
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header-burger::before,
  .header-burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }

  .header-burger span {
    position: absolute;
    left: 0px;
    background-color: #fff;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header-burger:before {
    top: 0px;
  }

  .header-burger:after {
    bottom: 0px;
  }

  .header-burger.active:before {
      transform:rotate(45deg);
      top: 9px;
  }

  .header-burger.active:after {
    transform:rotate(-45deg);
    bottom: 9px;
}

.header-burger.active span {
    transform:scale(0);
    
}

  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #DAA520;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu.active {
      top: 0;
  }

  .menu-list {
      display: block;
  }

  .menu-list li {
      margin:0px 0px 20px 0px;
  }

.section2-container-text {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
}
}

@media (max-width:400px) {
    h1  {
        font-size: 27px;
        
    }
}
